@use '../variables' as v;

.blogHeader {
  background-image: url("../assets/blog-1.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.blogH2 {
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}