@use '../variables' as v;

.blogPost {
  text-align: left;
  padding: 12rem 0;
  h2 {
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  .greyFont {
    color: v.$grey2;
  }
}

.blogFlexContainer {
  display: flex;
  justify-content: space-between;
  padding: 9rem 0 3rem;
  border-bottom: 1px solid lightgrey;
  p:nth-child(2) {
    color: v.$grey2;
  }
  .author {
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
      border-radius: 50%;
    }
  }
  .blogInfo {
    display: flex;
    gap: 6rem;
  }
}

.blogTextContainer {
  padding-top: 4rem;
  color: v.$grey2;
  p {
    padding-bottom: 2rem;
  }
  .bold, .black {
    color: v.$black;
    font-weight: 700;
  }
}


.shareBlog {
display: flex;
align-items: center;
gap: 2rem;
a {
  &:hover,
  &:focus {
    transform: scale(1.5);
    color: v.$sage;
    transition: 0.6s;
  }

}
}
