@use '../variables' as v;

.contactMainSection {
  h3 {
    font-weight: 500;
    padding-bottom: 2rem;
  }
  .contactUs {
    // position: relative;
    // height: 225px;
    background-image: url(../assets/contact-1.jpeg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0;
  }
  .contactH2 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 700;
    position: relative;
    top: 7.2rem;
  }
}




.contactDetails {
  padding: 15rem 0 0;
  .contactOptions {
    display: flex;
    padding: 4rem 0rem 6rem 6rem;
    gap: 8rem;
    address {
      padding: 3rem 0;
      font-style: normal;
      line-height: 3rem;
      color: v.$grey;
      h4 {
        font-weight: 500;
        color: v.$black;
        letter-spacing: 0.6rem;
      }
    }
    .location {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      padding: 3rem 5rem;
    }
    i {
      font-size: 3.5rem;
      padding-bottom: 1.5rem;
      color: v.$black;
    }
    a:hover,
    a:focus {
      background-color: v.$sage;
      color: v.$black;
      padding: 0.3rem 0;
      transition: 0.4s;
    }
  }
}