@use "../variables" as v;

@media (max-width: 680px) {
  .portfolio {
    flex-direction: column;
    .portfolioTextcontainer {
      width: 100%;
      padding: 4.5rem 0;
      p {
        padding: 3rem 0;
        width: 85%;
      }
      .portfolioButton {
        padding: 1.9rem 2.1rem;
        width: 180px;
      }
    }
    .portfolioImgContainer {
      width: 100%;
      height: 20rem;
      overflow-y: hidden;
    }
  }
}

@media (max-width: 645px) {

  .blogPost {
    padding: 9rem 0;
    h2 {
      font-size: 4.5rem;
      line-height: 4.6rem;
      padding-bottom: 1.2rem;
    }
  }

  .blogFlexContainer .author {
      padding-bottom: 2rem;
    }


  footer .footerContainer {
    flex-direction: column;
    align-items: center;

    div {
      width: 50%;
      text-align: center;
    }
  }


}

@media (max-width: 640px) {
  .services {
    height: 65rem;

    .servicesUl {
      width: 95%;
      flex-direction: column;
      padding: 2rem 2rem;
      gap: 0rem;

      li {
        width: 100%;
        padding: 1.2rem 0rem;
      }
    }
  }

  .teamUl {
    gap: 2rem;
  }

  .teamUl li,
  .teamUl .workWithUs {
    width: 45%;
    height: auto;
  }
}

@media (max-width: 615px) {
  .brandingImgContainer .circleText {
    left: 3%;
  }

  .headerNavContainer {
    flex-direction: column;
  }

}