@use "./variables" as v;

footer {
  color: v.$white;
  background-color: v.$black;
  text-align: left;
  h4 {
    padding: 4rem;
    border-top: 1px solid v.$grey;
    text-align: center;
  }
  h3 {
    padding-bottom: 3rem;
  }
  .footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 9rem 0;
    div {
      width: 30%;
    }
    ul {
      list-style-type: disc;
    }
    li {
      line-height: 3.2rem;
    }
    address {
      font-style: normal;
    }
    li:hover, 
    li:focus,
    a:hover, 
    a:focus {
        color: v.$sage;
    }
  }
}