@use './variables' as v;

.headerNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  ul {
    display: flex;
    gap: 3rem;
  }
  i {
    font-size: 2.1rem;
  }
  .green {
    background-color: v.$sage;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
    position: relative;
    right: 10px;
    top:  5px;
  }
}