@use "./variables" as v;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: v.$montserrat;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03rem;
  color: v.$black;
}

h1 {
  font-size: 3.7rem;
  font-weight: 700;
  letter-spacing: 0.09rem;
  line-height: 5rem;
}

h2 {
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 0.21rem;
}

h3 {
  font-weight: 400;
  font-size: 1.9rem;
  letter-spacing: 0.19rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

button {
  font-family: v.$montserrat;
  font-weight: 700;
  letter-spacing: 0.07rem;
}

p {
  font-family: v.$openSans;
}

.headerNavContainer, h2, h3, h4, button {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
  text-transform: uppercase;
}

.grey {
  color: v.$grey;
}

.lightGrey {
  color: v.$grey2;
}

.contactMainSection {
  text-align: left;
}

// margin padding 0
// list styles
// text decoration 