// ===============
// COLOUR PALETTE
// ===============
// light sage: #C3DAB7  195, 218, 183
// white: #FFFFFF 255, 255, 255
// white two: #F6F6F6 246, 246, 246
// black: #333333 51, 51, 51

// ===============
// COLOR VARIABLES
// ===============
$sage: #C3DAB7;
$white: #FFF;
$white2: #F6F6F6; 
$black: #333;
$grey: grey; 
$grey2: darkgrey; 


// Font families 
$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;

// Base font size 