@use "../variables" as v;

  .branding {
    background-color: v.$sage;
    padding: 15rem 0 8rem;
  }
  .line {
    width: 0;
    height: 12rem;
    border: 0.5px solid grey;
    position: absolute;
    bottom: -80px;
    right: 50vw;
  }
  .brandingImgContainer {
    display: flex;
    justify-content: center;
    position: relative;
    .circleText {
      position: absolute;
      width: 150px;
      top: -10vh;
      left: 25%;
    }
  }
  .brandingTextContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 6rem;
    .brandingText {
      width: 30%;
    }
  }
