@use "../variables" as v;



.portfolio {
  display: flex;
  .portfolioTextcontainer {
    background-color: v.$sage;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      padding: 5rem 0;
      width: 70%;
      margin: 0 auto;
    }
    .portfolioButton {
      background-color: v.$white;
      border: none;
      padding: 2rem 2.5rem;
      width: 200px;
      margin: 0 auto;
      &:hover,
      &:focus {
        color: white;
        background-color: v.$black;
        transform: scale(1.1);
        transition: 0.7s;
      }
    }
  }
  .portfolioImgContainer {
    width: 50%;
  }
}