@use '../variables' as v;

.services {
  background-image: url('../assets/home-4.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: left;
  display: flex;
  align-items: center;
  p {
    color: v.$grey2;
  }
  .servicesIcon {
    border: 2px solid v.$black;
    font-size: 2.5rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 15px;
    text-align: center;
  }
  .locationIcon {
    padding: 18px;
  }
}

.servicesUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  left: 10vw;
  gap: 4rem 1rem;
  width: 70%;
  li {
    width: 35%;
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
  }
}
