@use "../variables" as v;

.team {
  padding: 10rem 0;
  position: relative;
  .line2 {
    width: 0;
    height: 50px;
    border-left: 1px solid darkgrey;
    position: absolute;
    top: 0px;
    left: 50%;
  }
  h2 {
    padding-bottom: 6rem;
  }
}

.teamUl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  .teamTextContent {
    width: calc( 540px + 3rem);
    height: 270px;
    text-align: left;
    background-color: v.$white2;
    padding: 110px 4rem 4rem;
    p {
      padding-top: 2rem;
    }
  }
  .workWithUs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    padding: 0 5rem;
  }
}