@use "../variables" as v;

.teamUl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  .teamTextContent {
    width: calc( 540px + 3rem);
    height: 270px;
    text-align: left;
    background-color: v.$white2;
    padding: 110px 4rem 4rem;
    p {
      padding-top: 2rem;
    }
  }
  .workWithUs {
    width: 270px;
    height: 270px;
  }

}