html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03rem;
  color: #333;
}

h1 {
  font-size: 3.7rem;
  font-weight: 700;
  letter-spacing: 0.09rem;
  line-height: 5rem;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.07rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

.headerNavContainer, h2, h3, h4, button {
  text-transform: uppercase;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}
.headerNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}
.headerNavContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.indexHeader {
  background-image: url("../assets/home-1.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.branding {
  background-color: #C3DAB7;
  padding: 15rem 0 8rem;
}

.line {
  width: 0;
  height: 12rem;
  border: 0.5px solid grey;
  position: absolute;
  bottom: -80px;
  right: 50vw;
}

.brandingImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.brandingImgContainer .circleText {
  position: absolute;
  width: 15%;
  bottom: 150px;
  left: 300px;
}

.brandingTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  padding-top: 6rem;
}
.brandingTextContainer .brandingText {
  width: 30%;
}

.gallery {
  padding: 10rem 0;
}
.gallery .galleryImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .galleryImgContainer .galleryImg {
  border-radius: 50%;
  padding-bottom: 3.5rem;
}
.gallery .galleryImgContainer .arrow {
  font-size: 3rem;
}
.gallery .galleryP {
  width: 65%;
  margin: 0 auto;
  font-style: italic;
  color: grey;
}

.services {
  background-image: url("../assets/home-4.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.services .servicesUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
  padding-left: 30vw;
}
.services .servicesUl li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 45%;
  gap: 2rem;
}
.services .servicesUl li .servicesText {
  width: 100%;
}
.services .servicesUl li .servicesText p {
  color: darkgrey;
}
.services .servicesUl li .servicesIcon {
  border: 2px solid #333;
  font-size: 2.5rem;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  padding: 10px;
  text-align: center;
}

.team {
  padding: 10rem 0;
  position: relative;
}
.team .line2 {
  width: 0;
  height: 50px;
  border-left: 1px solid darkgrey;
  position: absolute;
  top: 0px;
  left: 50%;
}
.team h2 {
  padding-bottom: 6rem;
}

.teamUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}
.teamUl .teamTextContent {
  width: calc(540px + 3rem);
  height: 270px;
  text-align: left;
  background-color: #F6F6F6;
  padding: 110px 4rem 4rem;
}
.teamUl .teamTextContent p {
  padding-top: 2rem;
  color: grey;
}
.teamUl .workWithUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 270px;
  padding: 0 5rem;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .portfolioTextcontainer {
  background-color: #C3DAB7;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio .portfolioTextcontainer p {
  color: grey;
  padding: 5rem 0;
  width: 70%;
  margin: 0 auto;
}
.portfolio .portfolioTextcontainer .portfolioButton {
  background-color: #FFF;
  border: none;
  padding: 2rem 2.5rem;
  width: 30%;
  margin: 0 auto;
}
.portfolio .portfolioTextcontainer .portfolioButton:hover, .portfolio .portfolioTextcontainer .portfolioButton:focus {
  color: white;
  background-color: #333;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.portfolio .portfolioImgContainer {
  width: 50%;
}

footer {
  color: #FFF;
  background-color: #333;
  text-align: left;
}
footer h4 {
  padding: 4rem;
  border-top: 1px solid grey;
  text-align: center;
}
footer h3 {
  padding-bottom: 3rem;
}
footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 9rem 0;
}
footer .footerContainer div {
  width: 30%;
}
footer .footerContainer ul {
  list-style-type: disc;
}

.blogHeader {
  background-image: url("../assets/blog-1.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.blogPost {
  text-align: left;
  padding: 12rem 0;
}
.blogPost h2 {
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.blogPost .greyFont {
  color: darkgrey;
}

.blogFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9rem 0 3rem;
  border-bottom: 1px solid lightgrey;
}
.blogFlexContainer p:nth-child(2) {
  color: darkgrey;
}
.blogFlexContainer .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.blogFlexContainer .author img {
  border-radius: 50%;
}
.blogFlexContainer .blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}

.blogTextContainer {
  padding-top: 4rem;
  color: darkgrey;
}
.blogTextContainer p {
  padding-bottom: 2rem;
}
.blogTextContainer .bold, .blogTextContainer .black {
  color: #333;
  font-weight: 700;
}

.shareBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.shareBlog a:hover, .shareBlog a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #C3DAB7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.relatedPosts {
  text-align: left;
}
.relatedPosts h2 {
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}
.relatedPosts .blogImagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 5rem 0 7rem;
}
.relatedPosts .blogImagesContainer p {
  text-transform: uppercase;
  padding-top: 2rem;
}
.relatedPosts .blogImagesContainer a:hover, .relatedPosts .blogImagesContainer a:focus {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  color: green;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}